body{
    min-height: 100vh;
}

#sidebar{
    height: 100vh;
    width: 25%;
    background-color: #9AF;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

#info{
    margin-top: 38vh;
    height: 24vh;
}

#text-info{
    height: 7vh;
    margin-top: 2vh;
    font-size: 4vh;
}

#sidebar-picture-container{
    height: 15vh;
}

#sidebar-picture{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
}

#content{
    min-height: 100vh;
    background-color: #CCC;
    width: 75%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    overflow-wrap: break-word;
}

#content-margin{
    padding: 1vh 3vw;
}



#date{
    text-align: center;
    margin-bottom: 30px;
    color: #777;
    font-size: 12px;
}

#title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

#content{
    color: #DDD;
    font-size: 16px;
}
