<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <meta charset="UTF-8"/>
    <title>Main Page</title>
</head>
<body>
<div id="sidebar">
    <div id="info">
        <center>
            <div id="sidebar-picture-container">
                <img src="../images/orange-square.png" id="sidebar-picture"/>
            </div>
            <div id="text-info">
                Thien
            </div>
        </center>
    </div>
    <div id="links">
        <center>
            <a id="home" href="/">
                <i class="material-icons blue-grey-text darken-3" id="home-icon">home</i>
            </a>
        </center>
    </div>
</div>
<div id="content">
    <div id="content-margin">

    </div>
</div>
</body>
</html>