<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/post.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/post.js"></script>
    <meta charset="UTF-8"/>
    <title>Main Page</title>
</head>
<body>
    <div id="sidebar">
        <div id="info">
        <center>
            <div id="sidebar-picture-container">
                <img src="../images/orange-square.png" id="sidebar-picture"/>
            </div>
            <div id="text-info">
                Thien
            </div>
        </center>
        </div>
	</div>
    <div id="content">
        <div id="content-margin">
            <div id="date">
            </div>
            <div id="title">
            </div>
            <div id="post">
            </div>
        </div>
    </div>
</body>
</html>
